/* HEADER */

header {
    position: sticky;
    top: 0;
    padding: 20px;
    background: #f5f3da;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header__img {
    height: 50px;
    width: 50px;
    left: 100px;

}

}
/* MODAL */
.modal_box {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    width: 400px;
    background: #fff;
    border-radius: 5%;
}

.btn-close {
    position: fixed;
    left: 59%;
}

/* BODY*/
.px-3 {
    position: absolute;
    top: 40%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.formik {
    position: absolute;
    left: 5%;
    right: 5%;
}

.pz {
    position: absolute;
    top: 40%;
    left: 25%;
    right: 25%;
    text-align: center;
}
