/* HEADER */

header {
    position: sticky;
    top: 0;
    padding: 20px;
    background: #F3F3CC;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header__img {
    height: 50px;
    width: 50px;
    left: 100px;

}

}
/* MODAL */
.modal_box {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    display: grid;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    width: 400px;
    background: #fff;
    border-radius: 5%;
}

.btn-close {
    position: fixed;
    left: 59%;
}

/* BODY*/
body {
    background: #FBFBF3;
}

.px-3 {
    position: absolute;
    top: 40%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.formik {
    position: absolute;
    left: 5%;
    right: 5%;
}

.pz {
    position: absolute;
    top: 40%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.row {
  padding: 50px 0;
}

.seperator {
  margin-bottom: 30px;
  width: 35px;
  height: 3px;
  background: #777;
  border: none;
}

.title {
  text-align: center;
}
.title .row {
  padding: 50px 0 0;
}
.title h1 {
  text-transform: uppercase;
}
.title .seperator {
  margin: 0 auto 10px;
}

.item {
  position: relative;
  margin-bottom: 30px;
  min-height: 1px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.item .item-in {
  background: #fff;
  padding: 40px;
  position: relative;
}
.item .item-in:hover:before {
  width: 100%;
}
.item .item-in::before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 0%;
  background: #333333;
  right: 0px;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.item h4 {
  font-size: 18px;
  margin-top: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.item p {
  font-size: 14px;
}
.item a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #666666;
  margin-top: 10px;
}
.item a i {
  opacity: 0;
  padding-left: 0px;
  transition: 0.4s;
  font-size: 24px;
  display: inline-block;
  top: 5px;
  position: relative;
}
.item a:hover {
  text-decoration: none;
}
.item a:hover i {
  padding-left: 10px;
  opacity: 1;
  font-weight: 300;
}

.container {
    position: absolute;
    top: 24%;
    left: 5%;
    right: 5%;
}

.container2{
    position: absolute;
    top: 65%;
    left: 3%;
    right: 5%
}

.proftext{
    position: absolute;
    top: 60%;
    right: 5%;
}


.profile-ava {
	width: 230px;
	text-align: center;
	overflow: hidden;
	background: #F5F5F5;
	padding: 10px;
	border-radius: 10%;
}
.profile-ava img {max-width: 150px; height: auto;}

.profile-load {
	margin-top: 10px;
	margin-left: 40px;
	overflow: hidden;
	max-width: 145px;
}
.profile-load input[type=submit], input[type=file] {
	width: 100%;
	font-size: 18px;
}
.profile-load p {
	padding: 0;
	margin: 5px 0 0 0;
}

.profile-panel {padding: 0 0 0 10px;}
ul.profile-info {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	color: #747474;
}
ul.profile-info li {margin-top: 10px;}

.prof {
    position: absolute;
    right: 12%;
}

.ingr {
    background-color: #cfd8b2;
    border-radius: 3%;
}

.ingredient {
    position: absolute;
    top: 40%;
}

.description {
    position: absolute;
    right: 65%;
}

.cooking {
    position: absolute;
    left: 70%
}
