/* HEADER */

header {
    position: sticky;
    top: 0;
    padding: 20px;
    background: #F3F3CC;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header__img {
    height: 50px;
    width: 50px;
    left: 100px;

}

}
/* MODAL */
.modal_box {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    display: grid;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    width: 400px;
    background: #fff;
    border-radius: 5%;
}

.btn-close {
    position: fixed;
    left: 59%;
}

/* BODY*/
body {
    background: #FBFBF3;
}

.px-3 {
    position: absolute;
    top: 40%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.formik {
    position: absolute;
    left: 5%;
    right: 5%;
}

.pz {
    position: absolute;
    top: 40%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.row {
  padding: 50px 0;
}

.seperator {
  margin-bottom: 30px;
  width: 35px;
  height: 3px;
  background: #777;
  border: none;
}

.title {
  text-align: center;
}
.title .row {
  padding: 50px 0 0;
}
.title h1 {
  text-transform: uppercase;
}
.title .seperator {
  margin: 0 auto 10px;
}
