{% extends 'base.html' %}

{% block title %}
LOL
{% endblock %}

{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
    <h1>В чём смысл?</h1>
    <p class="lead">на этом сайте ты найдёшь различные рецепты, подаренные тебе другими пользователями. Подари и ты им свой уникальный рецепт! если ты зарегестрирован, то жми кнопку снизу.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-black bg-white">создать</a>
    </p>
  </main>
</div>
{% endblock %}
