{% extends 'base.html' %}

{% block title %}
GG
{% endblock %}

{% block body %}


<table border="0" class="profile-table">
	<tr><td valign="top">
		<div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
		<div class="profile-load">
		<form action="" method="POST" enctype="multipart/form-data">
			<p><input type="file" name="file">
			<p><input class="btn btn-light border-black" type="submit" value="Загрузить">
		</form>
		</div>
	</td>
	<td valign="top" class="profile-panel">
		<p><a href="{{url_for('logout')}}">Logout</a>
		<ul class="profile-info">
		<li>Имя: {{ current_user.name }}</li>
		<li>Email: {{ current_user.email }}</li>
		</ul>
	</td></tr>

	<h2 class="proftext">Избранные рецепты:</h2>

	<div class="container2">
	<div class="row">
	  {% for recipe in recipes %}
	  <div class="col-md-6 item">
			<div class="item-in">
				<a href="/about/like/{{ recipe.id }}" class="btn btn-info rounded-pill px-3">like</a>
			  <h4>{{ recipe.title }}</h4>
			  <div class="seperator"></div>
			  <p>{{ recipe.description[:60] + '...' }}</p>
			  <a href="/about/more/{{ recipe.id }}">читать далее...
				<i class="fa fa-long-arrow-right"></i>
			  </a>
			</div>
		  </div>
	   {% endfor %}
	</div>
	</div>
</table>
{% endblock %}
