{% extends 'base.html' %}

{% block title %}
GG
{% endblock %}

{% block body %}
<nav>
  {% if current_user.is_authenticated %}

  <h1>Добавление новости</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>


        <main class="formik">
    <div class="py-5 text-center">
      <h2>Загрузи свой рецепт!</h2>
      <p class="lead">Заполните форму по подсказкам и нажимите кнопку "выложить".</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
      </div>
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-12">
              <label for="name" class="form-label"><strong>Название блюда</strong></label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="name" placeholder="блюдо" required="">
              <div class="invalid-feedback">
                  Это обязательное для заполнения поле.
                </div>
              </div>
            </div>

            <label for="recipe_announce" class="form-label"><strong>Краткое описание блюда</strong></label>
            <p class="field">
              <textarea placeholder="напишите 1-2 предложения" class="val_error" name="recipe_announce" id="recipe_announce" style="width: 388px; height: 97px;" cols="40" rows="5" onkeyup="checkFields('recipe_announce');" onblur="checkFields('recipe_announce');"></textarea>
		    </p>



            <div class="col-md-6">
              <label for="Ingredients" class="form-label"><strong>Индгридиенты</strong></label>
              <p class="field">
              <textarea placeholder="Каждый ингредиент вводите с новой строки и обязательно в таком порядке: название ингредиента - количество" class="val_error" name="recipe_announce" id="Ingredients" style="width: 388px; height: 97px;" cols="40" rows="5" onkeyup="checkFields('recipe_announce');" onblur="checkFields('recipe_announce');"></textarea>
		    </p>
              <div class="invalid-feedback">
                Это обязательное для заполнения поле.
              </div>

              <div class="col-md-6">
                <label for="text" class="form-label"><strong>Текстовое описание готовки</strong></label>
              <p class="field">
              <textarea placeholder="Каждый шаг готовки вводите с новой строки и обозначайте цифрой" class="val_error" name="recipe_announce" id="text" style="width: 388px; height: 97px;" cols="40" rows="5" onkeyup="checkFields('recipe_announce');" onblur="checkFields('recipe_announce');"></textarea>
		    </p>
              <div class="invalid-feedback">
                Это обязательное для заполнения поле.
              </div>
              </div>

            <div class="col-md-4">
              <label for="state" class="form-label"><strong>Тип блюда</strong></label>
              <select class="form-select" id="state" required="">
                <option value="">Завтрак</option>
                <option>Обед</option>
                <option>Ужин</option>
                <option>Перекус</option>
              </select>
              <div class="invalid-feedback">
                Это обязательное для заполнения поле.
              </div>
            </div>

          </div>


          <hr class="my-4">

          </div>
          <div>
            <input type="file" class="form-control-file" id="photo" name="file">
          </div>
          <hr class="my-4">
          <button class="w-100 btn btn-dark btn-lg" type="submit">выложить</button>
        </form>
      </div>
    </div>
  </main>

    {% else %}
    <div class="pz">
      <h2>Пожалуйста, войдите в аккаунт.</h2>
      <a href="/sign_in" class="btn btn-lg btn-light fw-bold border-black bg-white">войти</a>
    </div>
    {% endif %}
    </nav>

{% endblock %}
